<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
<link rel="stylesheet" href="/assets/css/footer.css">

</head>
<body>
	
<!--	
<section class="ftco-section">
<div class="container">
<div class="row justify-content-center">
<div class="col-md-6 text-center">
</div>
</div>
</div>
</section>

-->

<footer class="footer-07">
<div class="container">
<div class="row justify-content-center">
<div class="col-md-12 text-center">
<h2 class="footer-heading"><a href="{{ "/" | absolute_url }}" class="logo" >JackBeeler.com</a></h2>
<p class="menu">
</p>
<ul class="ftco-footer-social p-0">
<li class="ftco-animate"><a href="http://twitter.com/jackbeeler" data-toggle="tooltip" data-placement="top" title="Twitter"><span class="iconify" data-icon="ion:logo-twitter"></span></a></li>
<li class="ftco-animate"><a href="http://instagram.com/jackbeeler" data-toggle="tooltip" data-placement="top" title="Instagram"><span class="iconify" data-icon="ion:logo-instagram"></span></a></li>
<li class="ftco-animate"><a href="mailto:jack@jackbeeler.com?subject=Mail from ____" data-toggle="tooltip" data-placement="top" title="Instagram"><span class="iconify" data-icon="ant-design:mail-filled"></span></a></li>
</ul>
</div>
</div>
<div class="row mt-5">
<div class="col-md-12 text-center">
<p class="copyright">
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <span class="iconify" data-icon="ant-design:heart-filled"></span> by <a href="http://twitter.com/jackbeeler" target="_blank">Jack Beeler</a>
</p>
</div>
</div>
</div>
	<script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
<script src="js/jquery.min.js+popper.js.pagespeed.jc.OA1Olq8XqC.js"></script><script>eval(mod_pagespeed_JtDpnSW_jU);</script>
<script>eval(mod_pagespeed__Rv9MB7uYP);</script>
<script src="js/bootstrap.min.js+main.js.pagespeed.jc.hJAVjdwcag.js"></script><script>eval(mod_pagespeed_mQ8QcicbLl);</script>
<script>eval(mod_pagespeed_Y2FJC$fMDT);</script>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js" data-cf-beacon='{"rayId":"6a3d228ea1eb318b","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2021.10.0","si":100}'></script>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js" data-cf-beacon='{"rayId":"6a3d228e8ec5318b","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2021.10.0","si":100}'></script>

	
</div>	
	
<div id="full-view-ad"></div
	
</footer>	
</body>
</html>
