<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

 
		
		
		
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo"  id ="logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>
        
        
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="50px" height="200px" viewBox="100 100 400 400" xml:space="preserve">
    <filter id="dropshadow" height="130%">
  <feGaussianBlur in="SourceAlpha" stdDeviation="5"/>
  <feOffset dx="0" dy="0" result="offsetblur"/>
  <feFlood flood-color="red"/>
<feComposite in2="offsetblur" operator="in"/>
<feMerge>
<feMergeNode/>
<feMergeNode in="SourceGraphic"/>
</feMerge>
</filter>          
<path class="path" style="filter:url(#dropshadow)" fill="#000000" d="M446.089,261.45c6.135-41.001-25.084-63.033-67.769-77.735l13.844-55.532l-33.801-8.424l-13.48,54.068
	c-8.896-2.217-18.015-4.304-27.091-6.371l13.568-54.429l-33.776-8.424l-13.861,55.521c-7.354-1.676-14.575-3.328-21.587-5.073
	l0.034-0.171l-46.617-11.64l-8.993,36.102c0,0,25.08,5.746,24.549,6.105c13.689,3.42,16.159,12.478,15.75,19.658L208.93,357.23
	c-1.675,4.158-5.925,10.401-15.494,8.031c0.338,0.485-24.579-6.134-24.579-6.134l-9.631,40.468l36.843,9.188
	c8.178,2.051,16.209,4.19,24.098,6.217l-13.978,56.17l33.764,8.424l13.852-55.571c9.235,2.499,18.186,4.813,26.948,6.995
	l-13.802,55.309l33.801,8.424l13.994-56.061c57.648,10.902,100.998,6.502,119.237-45.627c14.705-41.979-0.731-66.193-31.06-81.984
	C425.008,305.984,441.655,291.455,446.089,261.45z M368.859,369.754c-10.455,41.983-81.128,19.285-104.052,13.589l18.562-74.404
	C306.28,314.65,379.774,325.975,368.859,369.754z M379.302,260.846c-9.527,38.187-68.358,18.781-87.442,14.023l16.828-67.489
	C327.767,212.14,389.234,221.02,379.302,260.846z"/>
          
</svg>
	
		

<img src="/assets/img/ethereum-eth-logo-animated.gif" style="width: 100px; height: 100px;">
	      <img src="https://pbs.twimg.com/profile_images/1458081824215810054/YeRwgT4j_400x400.jpg" style="width: 75px; height: 75px; border-radius: 100px;">
        {% if site.github.is_project_page %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub</a></p>
        {% endif %}

        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
        {% endif %}
      </header>
      <section>

      {{ content }}

      </section>
    <!-- <footer> -->
        {% include footer.html %}
        <!--  </footer> -->
    
    </div>
  </body>

<script>
    var $window = $(window),
        $body = $('body'),
        $stars = $('<div/><div/><div/>').addClass('stars');

    $body.prepend($stars);

    // Parallax background scrolling
    $window.scroll(function() {
        var y = $window.scrollTop(),
            starsOrigo = $window.width() / 2;

        var rotate = 'rotate('+ Math.min(45 + y / 32, 60) +'deg)';
        $stars.eq(0).css('transform', 'translateY('+ (y / 2.56) +'px) translateZ(0) ' + rotate);
        $stars.eq(1).css('transform', 'translateY('+ (y / 2.14) +'px) translateZ(0) ' + rotate);
        $stars.eq(2).css('transform', 'translateY('+ (y / 1.75) +'px) translateZ(0) ' + rotate);

    }).triggerHandler('scroll');

    // Generate random stars
    $stars.each(function(i, e) {
        var $e = $(e),
            stars = '',
            origo = $window.width() / 2,
            starsPerContainer = Math.floor(origo / 100),
            maxRadius = Math.sqrt(origo*origo + origo*origo);

        $e.css('top', origo);

        for (var quadrant = 0; quadrant <= 1; quadrant++) {
            for (var j = 0, watchdog = 0; j < starsPerContainer && watchdog < 100; j++, watchdog++) {
                var angle = Math.random() * Math.PI / 2 + // Random inside two 90 deg sectors, from 180-270 and 270-360 deg.
                            Math.PI + // offset 180 deg
                            quadrant * Math.PI / 2, // offset 90 deg second interation
                    radius = maxRadius / 4  + Math.random() * maxRadius * 3 / 4,
                    x = Math.cos(angle) * radius,
                    y = Math.sin(angle) * radius,
                    size = Math.floor(Math.random() * 2),
                    blur = 1,
                    color = '#fff';

                // If out of bounds, try agin
                if (y < -origo || x < -origo || x > origo) {
                    j--;
                    continue;
                }

                // Recalc coords to account for 45 deg. css transform rotation
                angle -= Math.PI / 4;
                x = Math.cos(angle) * radius;
                y = Math.sin(angle) * radius;

                if (stars) stars += ',';
                stars += x +'px '+ y +'px '+ blur +'px '+ (size + 1) +'px '+ color +','+
                    (x + size + 2) +'px '+ (y - size - 2) +'px '+ blur +'px 0 '+ color +','+
                    (x + size + 2) +'px '+ (y + size + 2) +'px '+ blur +'px 0 '+ color +','+
                    (x - size - 2) +'px '+ (y + size + 2) +'px '+ blur +'px 0 '+ color +','+
                    (x - size - 2) +'px '+ (y - size - 2) +'px '+ blur +'px 0 '+ color;
            }
        }

        $e.css('box-shadow', stars);
    });
	
</script>
	
</html>



<style>

#bitcoin{
  
  
  display:block;
  color:#888888;}

.path {
  stroke-dasharray: 2110;
  stroke-dashoffset: 2110;
  stroke-width:2;
  stroke-linecap:round;
  animation: dash 6s linear infinite;
  fill-opacity:0;
  stroke:orange;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 2110;
    opacity:0;
    stroke:orange;
  }
  15%{
    opacity:1;
    stroke:orange;
  }
  70%{
    opacity:1;
    stroke:orange;
  }
  100%{
    stroke-dashoffset:0;
    opacity:0;
    stroke:yellow;
  }
</style>

	

	

